@media (max-width: 1920px) {
	.first_image img{
		width: 120%;
		height: 120%;
	  }
}


@media (max-width: 1500px) {

}

@media (max-width: 1280px) {
	.first_container {
		width: 80%;
		height: 80%;
	  }
	}

	@media (max-width: 768px) {

		.first_container {
			width: 70%;
			height: 70%;
		  }

		  .grid-container {
			width: 80%;
			height: 80%;
			grid-template-columns: 400px 400px;
			grid-template-rows: 350px 350px 350px;
		  }

		}



	


@media (max-width: 576px) {
	
}

@media (max-width: 375px) {

	.container {
		padding: 0 15px;
	}

	.first__container {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.header__container {
		padding: 30px;
	}

	.social {
		display: none;
	}

	.menu__list {
		font-size: 30px;
	}

	.menu {
		min-height: 550px;
	}

	.first__title {
		font-size: 55px;
		line-height: 60px;
	}

	.first__slider-btn {
		left: 25px;
	}

	.btn-right {
		right: 25px;
		left: auto;
	}

	.search-form__field {
		padding-left: 30px;
		padding-right: 50px;
	}

	.search-form__button {
		right: 20px;
	}

	.become {
		padding: 30px 0;
	}

	.become__list {
		margin-top: 30px;
	}

	.blog-article__title {
		font-size: 55px;
		line-height: 60px;
	}

	.feature-list__text {
		padding-right: 10px;
	}

	.featured-videos {
		padding: 30px 0;
	}

	.slider-container {
		margin-top: 0;
	}

	.slider-container .swiper-slide {
		width: calc(100% - 30px);
	}

	.insp__descr {
		margin-bottom: 30px;
	}

	.insp {
		padding: 30px 0;
	}

.footer {
	padding: 30px 0;
}

.footer__bottom {
	padding-bottom: 0;
}

}
