@media (max-width: 1920px) {
  .menu_list_container {
    left: 20%;
  }
}

@media (max-width: 1280px) {
  .menu_list_container {
    margin-right: -94%;
    left: 6%;
  }

  .first_container {
    margin-bottom: 20px;
  }
}

@media (max-width: 1095px) {
  .first_container {
    width: 590px;
  }

  .portfolio-container h1 {
    width: 1095px;
    place-content: center center;
  }

  footer {
    width: 1095px;
  }

  .grid-container {
    grid-template-columns: 350px 350px;
    grid-template-rows: 322px 322px;
    margin-top: 30px;
    width: auto;
  }

  .last-box {
    display: none;
  }
}

@media (max-width: 950px) {
  .portfolio-container {
    width: 950px;
    place-content: center center;
    margin-bottom: 50px;
  }

  .portfolio-container h1 {
    width: 950px;
    place-content: center center;
  }

  footer {
    width: 950px;
  }
}

@media (max-width: 768px) {
  .first_container {
    width: 540px;
  }

  .portfolio-container h1 {
    width: 768px;
  }

  .portfolio-container {
    width: 768px;
  }

  footer {
    width: 768px;
  }
}

@media (max-width: 600px) {
  .menu_list_container {
    left: 9%;
  }

  .first_container {
    margin-bottom: 10px;
  }

  .first_container {
    width: 410px;
    height: 300px;
    margin-right: -40%;
    left: 17%;
  }

  .introduction {
    margin-top: 20px;
  }

  .first_container h3 {
    padding-right: 10px;
  }

  .first_image img {
    width: 420px;
    height: 520px;
  }

  .first_image {
    left: 45%;
    margin-right: -50%;

    margin-top: 60px;
  }

  .portfolio-container h1 {
    width: 576px;
    margin-bottom: 15px;
  }

  .portfolio-container {
    height: 1400px;
    width: 576px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 576px;
    height: 1250px;
    left: 50%;
    margin-right: -50%;
    align-content: center;
    justify-content: center;
    place-content: center center;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .grid-container-box {
    left: 50%;
    margin-right: -50%;
    transform: translate(14%, 0%);
    width: 450px;
    height: 372px;
  }

  .box-4 {
    display: none;
  }

  .contact_info {
    height: 410px;
  }

  .social_contacts_block {
    top: 55px;
  }

  footer {
    width: 576px;
  }
}

@media (max-width: 414px) {
  .menu_list_container {
    left: 0%;
  }

  .first_container {
    width: 325px;
    height: 250px;
    margin-left: 3px;
  }

  .first_container h3 {
    margin: 3px;
  }

  .first_image {
    left: 23%;
    margin-right: -50%;
    margin-top: 0px;
  }

  .grid-container {
    width: 414px;
    margin-top: 0px;
    height: 1100px;
  }

  .grid-container-box {
    width: 390px;
    height: 330px;
    transform: translate(0%, 0%);
  }
  .portfolio-container h1 {
    width: 414px;
    margin-bottom: 15px;
  }

  footer {
    width: 414px;
  }

  .contact_info {
    height: 230px;
  }

  .social_contacts_block {
    top: -70px;
    width: 350px;
  }
}

@media (max-width: 375px) {
  .first_container {
    width: 315px;
  }

  .introduction {
    margin-top: 5px;
  }

  .first_image {
    left: 20%;
    margin-top: 5px;
  }

  .grid-container-box {
    width: 350px;
    height: 330px;
  }

  footer {
    width: 375px;
  }

  .grid-container {
    width: 370px;
    margin-top: 0px;
    height: 1075px;
  }

  .portfolio-container h1 {
    width: 375px;
    margin-bottom: 15px;
  }
}
